{% include "futsimulator/angular/header.html" %}

<div class="container" ng-app="futsimulatorApp" ng-controller="futsimulatorCtrl">

	<!--form -->
	<futsimulator-form clube-salvo="adicionarClube(clube)" clube-editado="editarClube(clube)"></futsimulator-form>

	<div class="row">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Imagem</th>
					<th>Nome</th>
					<th>Anti-penúltimo jogo</th>
					<th>Penúltimo jogo</th>
					<th>Último jogo</th>
					<th>Data Criação</th>
					<th>Ação</th>
				</tr>
			</thead>
			<tbody id="tabela-clube">
				<tr futsimulator-item="futsimulator-item" ng-repeat="c in clubes" clube="c" clube-apagado="removerClube($i)">
			</tbody>
		</table>
	</div>
</div>

{% include "futsimulator/angular/footer.html" %}