<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<meta author="Mauricio Ribeiro">
	<title>Fut Simulator | {% if page_title %} {{ page_title }} {% endif %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'futsimulator/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'futsimulator/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'futsimulator/css/custom.css' %}">

	<script type="text/javascript" src="{% static 'futsimulator/js/jquery-1.12.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'futsimulator/js/angular-1.3.16.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'futsimulator/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'futsimulator/js/futsimulator.js' %}"></script>
</head>
<body>

	<div id="header-bg" class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1><i class="fa fa-futbol-o"></i> Fut Simulator</h1>
					<p>Simule partidas de futebol entre os clubes brasileiros</p>
				</div>
			</div>
		</div>
	</div>